openapi: 3.2.0
info:
  title: Commerce Layer Provisioning Membership Profiles API
  version: 1.0.15
  contact:
    name: API Support
    url: https://commercelayer.io
    email: support@commercelayer.io
  description: Headless Commerce for Global Brands.
servers:
- url: https://provisioning.commercelayer.io
  description: Commerce Layer Provisioning API
- url: https://docs.commercelayer.io/provisioning-api
  description: API reference
security:
- bearerAuth: []
tags:
- name: membership_profiles
  description: resource type
paths:
  /application_memberships/{applicationMembershipId}/membership_profile:
    get:
      operationId: GET/applicationMembershipId/membership_profile
      summary: Related application membership
      description: Related application membership
      tags:
      - membership_profiles
      parameters:
      - name: applicationMembershipId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the resource.
      responses:
        '200':
          description: The membership_profile associated to the application membership
  /memberships/{membershipId}/membership_profile:
    get:
      operationId: GET/membershipId/membership_profile
      summary: Related membership
      description: Related membership
      tags:
      - membership_profiles
      parameters:
      - name: membershipId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the resource.
      responses:
        '200':
          description: The membership_profile associated to the membership
  /membership_profiles:
    post:
      operationId: POST/membership_profiles
      summary: Creates an membership profile
      description: Creates an membership profile
      tags:
      - membership_profiles
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/membershipProfileCreate'
      responses:
        '201':
          description: The created membership profile object
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/membershipProfileResponse'
    get:
      operationId: GET/membership_profiles
      summary: List all membership profiles
      description: List all membership profiles
      tags:
      - membership_profiles
      responses:
        '200':
          description: A list of membership profile objects
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/membershipProfileResponseList'
  /membership_profiles/{membershipProfileId}:
    get:
      operationId: GET/membership_profiles/membershipProfileId
      summary: Retrieve an membership profile
      description: Retrieve an membership profile
      parameters:
      - name: membershipProfileId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the resource.
      tags:
      - membership_profiles
      responses:
        '200':
          description: The membership profile object
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/membershipProfileResponse'
    patch:
      operationId: PATCH/membership_profiles/membershipProfileId
      summary: Updates an membership profile
      description: Updates an membership profile
      tags:
      - membership_profiles
      parameters:
      - name: membershipProfileId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the resource.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/membershipProfileUpdate'
      responses:
        '200':
          description: The updated membership profile object
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/membershipProfileResponse'
    delete:
      operationId: DELETE/membership_profiles/membershipProfileId
      summary: Delete an membership profile
      description: Delete an membership profile
      tags:
      - membership_profiles
      parameters:
      - name: membershipProfileId
        in: path
        schema:
          type: string
        required: true
        description: The ID of the resource.
      responses:
        '204':
          description: No content
components:
  schemas:
    membershipProfileResponseList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/membershipProfileResponse/properties/data'
    membershipProfileUpdate:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          required:
          - type
          - id
          - attributes
          properties:
            type:
              type: string
              description: The resource's type.
              enum:
              - membership_profiles
            id:
              type: string
              description: The ID of the resource.
              example: XGZwpOSrWL
            attributes:
              type: object
              properties:
                name:
                  type: string
                  description: The membership profile name.
                  example: Marketing group
                access_scope:
                  type: string
                  description: The access scope for applications. One of `live_access` (default), `test_access`, `all_access`.
                  example: live_access
                  enum:
                  - live_access
                  - test_access
                  - all_access
                reference:
                  type:
                  - string
                  - 'null'
                  description: A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.
                  example: ANY-EXTERNAL-REFEFERNCE
                reference_origin:
                  type:
                  - string
                  - 'null'
                  description: Any identifier of the third party system that defines the reference code.
                  example: ANY-EXTERNAL-REFEFERNCE-ORIGIN
                metadata:
                  type:
                  - object
                  - 'null'
                  description: Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.
                  example:
                    foo: bar
            relationships:
              type: object
              properties:
                application_memberships:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - application_memberships
                        id:
                          type: string
                          description: The ID of the resource.
                          example: XGZwpOSrWL
    membershipProfileCreate:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              description: The resource's type.
              enum:
              - membership_profiles
            attributes:
              type: object
              properties:
                name:
                  type: string
                  description: The membership profile name.
                  example: Marketing group
                access_scope:
                  type: string
                  description: The access scope for applications. One of `live_access` (default), `test_access`, `all_access`.
                  example: live_access
                  enum:
                  - live_access
                  - test_access
                  - all_access
                reference:
                  type: string
                  description: A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.
                  example: ANY-EXTERNAL-REFEFERNCE
                reference_origin:
                  type: string
                  description: Any identifier of the third party system that defines the reference code.
                  example: ANY-EXTERNAL-REFEFERNCE-ORIGIN
                metadata:
                  type: object
                  description: Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.
                  example:
                    foo: bar
              required:
              - name
              - access_scope
            relationships:
              type: object
              properties:
                organization:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - organizations
                        id:
                          type: string
                          description: The ID of the resource.
                          example: XGZwpOSrWL
                application_memberships:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - application_memberships
                        id:
                          type: string
                          description: The ID of the resource.
                          example: XGZwpOSrWL
              required:
              - organization
    membershipProfileResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The ID of the resource.
              example: XGZwpOSrWL
            type:
              type: string
              description: The resource's type.
              enum:
              - membership_profiles
            links:
              type: object
              properties:
                self:
                  type: string
                  description: URL
            attributes:
              $ref: '#/components/schemas/membershipProfile/properties/data/properties/attributes'
            relationships:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                          description: URL
                        related:
                          type: string
                          description: URL
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - organization
                        id:
                          type: string
                          description: The ID of the resource.
                application_memberships:
                  type: object
                  properties:
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                          description: URL
                        related:
                          type: string
                          description: URL
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - application_memberships
                        id:
                          type: string
                          description: The ID of the resource.
    membershipProfile:
      type: object
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              description: The resource's type.
              enum:
              - membership_profiles
            attributes:
              type: object
              properties:
                name:
                  type: string
                  description: The membership profile name.
                  example: Marketing group
                test_enabled:
                  type: boolean
                  description: Reflects the organization's access scope, either test_access or all_access.
                  example: false
                  readOnly: true
                access_scope:
                  type: string
                  description: The access scope for applications. One of `live_access` (default), `test_access`, `all_access`.
                  example: live_access
                  enum:
                  - live_access
                  - test_access
                  - all_access
                created_at:
                  type: string
                  description: Time at which the resource was created.
                  example: '2018-01-01T12:00:00.000Z'
                  readOnly: true
                updated_at:
                  type: string
                  description: Time at which the resource was last updated.
                  example: '2018-01-01T12:00:00.000Z'
                  readOnly: true
                reference:
                  type:
                  - string
                  - 'null'
                  description: A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.
                  example: ANY-EXTERNAL-REFEFERNCE
                reference_origin:
                  type:
                  - string
                  - 'null'
                  description: Any identifier of the third party system that defines the reference code.
                  example: ANY-EXTERNAL-REFEFERNCE-ORIGIN
                metadata:
                  type:
                  - object
                  - 'null'
                  description: Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.
                  example:
                    foo: bar
            relationships:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - organizations
                        id:
                          type: string
                          description: The ID of the resource.
                          example: XGZwpOSrWL
                application_memberships:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The resource's type.
                          enum:
                          - application_memberships
                        id:
                          type: string
                          description: The ID of the resource.
                          example: XGZwpOSrWL
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
