openapi: 3.2.0
info:
  title: Commerce Layer Provisioning User API
  version: 1.0.15
  contact:
    name: API Support
    url: https://commercelayer.io
    email: support@commercelayer.io
  description: Headless Commerce for Global Brands.
servers:
- url: https://provisioning.commercelayer.io
  description: Commerce Layer Provisioning API
- url: https://docs.commercelayer.io/provisioning-api
  description: API reference
security:
- bearerAuth: []
tags:
- name: user
paths:
  /user:
    get:
      operationId: GET/user
      summary: Retrieve an user
      description: Retrieve an user
      parameters: []
      tags:
      - user
      responses:
        '200':
          description: The user object
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/userResponse'
    patch:
      operationId: PATCH/user
      summary: Updates an user
      description: Updates an user
      tags:
      - user
      parameters: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/userUpdate'
      responses:
        '200':
          description: The updated user object
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/userResponse'
components:
  schemas:
    userUpdate:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              description: The resource's type.
              enum:
              - users
            attributes:
              type: object
              properties:
                email:
                  type: string
                  description: The user email.
                  example: user@commercelayer.io
                first_name:
                  type: string
                  description: The user first name.
                  example: John
                last_name:
                  type: string
                  description: The user last name.
                  example: Doe
                time_zone:
                  type:
                  - string
                  - 'null'
                  description: The user preferred timezone.
                  example: UTC
                reference:
                  type:
                  - string
                  - 'null'
                  description: A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.
                  example: ANY-EXTERNAL-REFEFERNCE
                reference_origin:
                  type:
                  - string
                  - 'null'
                  description: Any identifier of the third party system that defines the reference code.
                  example: ANY-EXTERNAL-REFEFERNCE-ORIGIN
                metadata:
                  type:
                  - object
                  - 'null'
                  description: Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.
                  example:
                    foo: bar
            relationships:
              type: object
              properties: {}
    user:
      type: object
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              description: The resource's type.
              enum:
              - users
            attributes:
              type: object
              properties:
                email:
                  type: string
                  description: The user email.
                  example: user@commercelayer.io
                first_name:
                  type: string
                  description: The user first name.
                  example: John
                last_name:
                  type: string
                  description: The user last name.
                  example: Doe
                time_zone:
                  type:
                  - string
                  - 'null'
                  description: The user preferred timezone.
                  example: UTC
                otp_required_for_login:
                  type: boolean
                  description: The user 2FA setting.
                  example: false
                  readOnly: true
                created_at:
                  type: string
                  description: Time at which the resource was created.
                  example: '2018-01-01T12:00:00.000Z'
                  readOnly: true
                updated_at:
                  type: string
                  description: Time at which the resource was last updated.
                  example: '2018-01-01T12:00:00.000Z'
                  readOnly: true
                reference:
                  type:
                  - string
                  - 'null'
                  description: A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.
                  example: ANY-EXTERNAL-REFEFERNCE
                reference_origin:
                  type:
                  - string
                  - 'null'
                  description: Any identifier of the third party system that defines the reference code.
                  example: ANY-EXTERNAL-REFEFERNCE-ORIGIN
                metadata:
                  type:
                  - object
                  - 'null'
                  description: Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.
                  example:
                    foo: bar
            relationships:
              type: object
              properties: {}
    userResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The ID of the resource.
              example: XGZwpOSrWL
            type:
              type: string
              description: The resource's type.
              enum:
              - users
            links:
              type: object
              properties:
                self:
                  type: string
                  description: URL
            attributes:
              $ref: '#/components/schemas/user/properties/data/properties/attributes'
            relationships:
              type: object
              properties: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
